@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

.wrapper, .input, .textarea {
  box-sizing: border-box;
}

.wrapper {
	margin: 3rem auto;
	width: 650px;
}

.page_title,
.input,
.textarea {
	margin-bottom: 1rem;
}

.page_title,
.input,
.textarea,
.button {
  font-family: Roboto Mono;
}

.page_title {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.form_row {
	display: flex;
  gap: 0 5px;
}

.input {
  width: 50%;
  padding: 1rem;
  font-size: 1.25rem;
}

.textarea,
.button {
  width: 100%;
}

.textarea {
	height: 100px;
  padding: 1rem;
  resize: none;
  
}

.button {
  padding: 1rem;

  border: 1px solid black;
  border-radius: 8px;

  font-size: 1.25rem;
  color: black;
  background-color: white;
}

.button:hover {
  color: white;
  border: 1px solid black;
  background-color: black;
}

@media (max-width: 768px) {
  .wrapper {
    width: 90%;
    margin: 3rem auto;
  }

  .form_row {
    display: block;
  }

  .input,
  .textarea {
    width: 100%;
  }
}
