@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;

	font-family: Roboto Mono;
	line-height: 1rem;
	font-size: 1.125rem;
	border-bottom: 2px solid black;

	&_logo {
		text-decoration: none;

		&_typography {
      margin-left: 1rem;
			font-family: Calligraffitti;
			font-size: 3rem;
		}

    &_typography:hover {
			text-decoration: underline;
		}

		&_logo:visited {
			color: black;
			text-decoration: none;
		}
	}

  &_logo:visited {
    color: black;
  }

	&_menu {
		&_link {
			padding: 0 1rem;
			text-decoration: none;
		}

		&_link:visited {
      color: black;
		}

		&_link:hover {
			text-decoration: underline;
		}
	}
}

.menu_icon {
  display: none;
  font-size: 2rem;
  color: black;
}

.sidenav {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	background-color: white;
	box-shadow: -4px 0px 5px 0px rgba(0, 0, 0, 0.2);
	z-index: 1000;

	&_menu {
    margin: 20px;
		padding: 0;
		height: 100%;

		list-style-type: none;
		text-align: center;
    text-align: right;
		font-size: 32px;
    
		&_x {
      margin: 15px;
      margin-right: 0;
			color: white;
			font-size: 54px;
			color: black;
		}
    
		&_link {
      display: block;
      margin-bottom: 2rem;
      text-decoration: none;
		}

		&_link:visited,
		&_x:hover {
			color: black;
		}

    &_x:hover {
      cursor: pointer;
    }

    &_link:hover {
      text-decoration: underline;
    }
	}
}

.footer {

  padding: 2rem;
  text-align: center;
  border-top: 2px solid black;
  background-color: white;

  & > a {
    color: black;
    text-decoration: underline;
  }
}

@media (max-width: 990px) {
  .menu_icon {
    display: block;
  }

  .nav_menu {
    display: none;
  }
}
