.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px 10px;
  margin: 10px 0;
}

@media (max-width: 481px) {
  .container {
    margin: 10px auto;
  }
}
