.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px 10px;

  margin: 1rem 1rem 1rem 1.5rem;
}

.image {
  width: 24%;
  overflow: hidden;
}

.image:hover {
  opacity: 0.7;
}

@media (max-width: 990px) {
  .image {
    width: 32%;
  }
}

@media (max-width: 768px) {
  .image {
    width: 48%;
  }
}

@media (max-width: 481px) {
  .image {
    width: 100%;
  }
}
